
*/.vs/
*/Build
*/Binaries
*/Intermediate
*/Saved
*/DerivedDataCache
*_BuildData.uasset
BuildingEscape/Plugins/DeepDrivePlugin/Binaries
BuildingEscape/Plugins/DeepDrivePlugin/Intermediate
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDRI
